{% extends "base.html" %}

{% block content %}

    <section class="text-left" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 text">
                    <h2>
                        Community Advertising
                    </h2>
                    <h3>
                        Reach people faster
                    </h3>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="car-image left image-100">
                        <img src="/static/img/side%20-%20Copy.png">
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="features" class="black white-font text-right">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 ">

                    <div class="map-image image-100">
                        <img src="/static/img/locationfeature.png" >
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text">

                    <h2>
                        Track your campaign
                    </h2>
                    <h3>
                        In real-time
                    </h3>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">

    </section>

    <section class="black white-font text-center">
    <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3><span class="glyphicon-class glyphicon glyphicon-envelope"></span> contact@otra.com</h3>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h3><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +91 98867 54567</h3>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
            <h3><i class="fa fa-facebook-official" aria-hidden="true"></i> www.facebook.com/otra</h3>
            </div>
        </div>

    </section>
{% endblock content %}